@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #e0e0e0;
  border: 2px solid #888;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: background 0.2s;
}

input[type="checkbox"]:checked {
  background-color: #2563eb;
  border-color: white;
}

input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
